<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>WORLD-PAY·全球付(ADMIN)</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/static/img/master.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <style>
        .divForm{
            width: 500px;
            height: 400px;
            top: 50%;
            left: 50%;
            margin-bottom: 300px;
            margin-top: 100px;
            margin-left: 36%;
        }
    </style>
</head>
<body>

<div class="layui-layout layui-layout-admin">
  <div class="layui-header layui-bg-black" >
    <div class="layui-logo">WORLD_PAY[全球付]</div>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:">
          全球付
        </a>
      </li>
      <li class="layui-nav-item"><a href="/admin/logout">注销</a></li>
    </ul>
  </div>

<div class="layui-body">


<div class="layui-tab layui-tab-card" lay-filter="demo">
  <ul class="layui-tab-title">
      <li class="layui-this" lay-id="1">近期预览</li>
      <li lay-id="2">所有客户</li>
      <li lay-id="3">系统充值记录</li>
      <li lay-id="4">退款充值记录</li>
      <li lay-id="5">客户消费记录</li>
      <li lay-id="6">客户历史余额记录</li>
      <li lay-id="7">新增客户</li>
      <li lay-id="8">新增中介</li>
      <li lay-id="9">中介管理</li>
      <li lay-id="10">中介提成</li>
      <li lay-id="11">所有卡信息</li>
      <li lay-id="12">卡交易记录</li>
  </ul>
  <div class="layui-tab-content" style="height: 100%;">
      <div class="layui-tab-item layui-show">
        <div id="month" style="width: 100%; height: 1000px; margin: 0 auto"></div>
        </div>
      <div class="layui-tab-item">

        <form class="layui-form" action="" lay-filter="example" id="example">
            <div class="demoTable">
                客户：
            <div class="layui-inline">
                <input class="layui-input" name="s_acc_name" id="s_acc_name" autocomplete="off">
            </div>

            <button class="layui-btn" lay-submit="" lay-filter="sea_account" type="submit">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </form>
        <table class="layui-hide" id="account_all" lay-filter="account_all"></table>
    </div>


    <div class="layui-tab-item">
        <form class="layui-form" action="" lay-filter="example" id="example">
            <div class="demoTable">
                客户：
            <div class="layui-inline">
                <input class="layui-input" name="acc_name" id="acc_name" autocomplete="off">
            </div>
                流水号:
            <div class="layui-inline">
                <input type="text"  class="layui-input" name="order_num" id="order_num" autocomplete="off">
            </div>
                时间范围:
                <div class="layui-inline">
                <input type="text" class="layui-input" id="s_test6" placeholder=" - ">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sea_payed" type="submit">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </form>

        <table class="layui-hide" id="top_up" lay-filter="top_up"></table>
    </div>

    <div class="layui-tab-item">
        <form class="layui-form" action="" lay-filter="example" id="example">
            <div class="demoTable">
                客户：
            <div class="layui-inline">
                <input class="layui-input" name="a_name" id="a_name" autocomplete="off">
            </div>
                流水号:
            <div class="layui-inline">
                <input type="text"  class="layui-input" name="o_num" id="o_num" autocomplete="off">
            </div>
                时间范围:
                <div class="layui-inline">
                <input type="text" class="layui-input" id="test10" placeholder=" - ">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="sea_pay" type="submit">搜索</button>
            <button type="reset" class="layui-btn layui-btn-primary" >重置</button>
            </div>
        </form>

          <table class="layui-hide" id="refund_top" lay-filter="refund_top"> </table>

    </div>

      <div class="layui-tab-item">

          <form class="layui-form" action="" lay-filter="example" id="example">
              客  户：
            <div class="layui-inline">
                <input class="layui-input" name="cus_name" id="cus_name" autocomplete="off">
            </div>
            卡  号:
            <div class="layui-inline">
                <input type="number" class="layui-input" name="trans_card" id="trans_card" autocomplete="off">
            </div>
              交易类型:
            <div class="layui-inline">
                <input type="text" class="layui-input" name="trans_type" id="trans_type" autocomplete="off">
            </div>
              操作类型:
            <div class="layui-inline">
                <input type="text" class="layui-input" name="trans_type" id="make_type" autocomplete="off">
            </div>
            时间范围:
            <div class="layui-inline">
            <input type="text" class="layui-input" id="test8" autocomplete="off" placeholder=" - ">
        </div>
        <button class="layui-btn" lay-submit="" lay-filter="cus_trans" type="submit">搜索</button>
        <button type="reset" class="layui-btn layui-btn-primary" id="">重置</button>
        </form>
        <table class="layui-hide" id="cus_trans_log" lay-filter="cus_trans_log"></table>

      </div>

      <div class="layui-tab-item">


           <form class="layui-form" action="" lay-filter="example" id="example">
                  客  户：
                <div class="layui-inline">
                    <input class="layui-input" name="cus_name_log" id="cus_name_log" autocomplete="off">
                </div>
                时间范围:
                <div class="layui-inline">
                <input type="text" class="layui-input" id="test9" placeholder=" - ">
            </div>
            <button class="layui-btn" lay-submit="" lay-filter="cus_log_ter" type="submit">搜索</button>
            <button type="reset"  class="layui-btn layui-btn-primary" id="">重置</button>
            </form>

          <table class="layui-hide" id="cus_money_log" lay-filter="cus_money_log"></table>
      </div>

    <div class="layui-tab-item">

        <img src="/static/img/no_way.png" width="100%" height="100%">

    </div>

      <div class="layui-tab-item">

          <img src="/static/img/no_way.png" width="100%" height="100%">

    </div>

      <div class="layui-tab-item">
          <img src="/static/img/no_way.png" width="100%" height="100%">
      </div>

      <div class="layui-tab-item">
          <table class="layui-show" id="middle_money" lay-filter="middle_money"></table>
      </div>

      <div class="layui-tab-item">

          <img src="/static/img/no_way.png" width="100%" height="100%">

      </div>

      <div class="layui-tab-item">

          <div>
            <div style="padding-bottom:60px">
            <div id="details" style="padding: 0px;float:left " lay-filter="detail">
                <form class="layui-form" id="myForm" enctype="multipart/form-data">

                        时 间 范 围 :
                        <div class="layui-inline">
                          <input type="text" class="layui-input test-item" placeholder="请选择时间范围!" lay-verify="required" id="range_time">
                        </div>

                         搜 索 卡 号 :
                        <div class="layui-inline">
                          <input type="number" name="card_no" id="card_no" autocomplete="off" placeholder="前/后几位即可" class="layui-input">
                        </div>

                         交 易 类 型 :
                        <div class="layui-inline">
                          <select name="modules"  lay-search="" id="trans_type_push">
                              <option value="">直接选择或搜索选择</option>
                              <option value="消费">消费</option>
                              <option value="授权消费">授权消费</option>
                              <option value="充值">充值</option>
                              <option value="手续费">手续费</option>
                            </select>
                        </div>

                    <button class="layui-btn" lay-submit="" lay-filter="push_search" type="submit">搜索</button>
                </form>
            </div>

            <blockquote class="layui-elem-quote layui-quote-nm" style="float: right">
                    <span style="color:red;">提示: 交易记录仅记录近30天!如有需要请下载保存!</span>
                </blockquote>
            </div>
            <table class="layui-hide" id="trans_log" lay-filter=""></table>
        </div>

      </div>

  </div>
</div>


<div class="layui-side layui-bg-black" >
    <div class="layui-side-scroll">
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">客户信息</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:" id="make_vir">近期预览</a></dd>
            <dd><a href="javascript:" id="make_vir_some">所有客户</a></dd>
            <dd><a href="javascript:" id="all_vir">系统充值记录</a></dd>
            <dd><a href="javascript:" id="top_refund">退款充值记录</a></dd>
            <dd><a href="javascript:" id="cus_trans">客户消费记录</a></dd>
            <dd><a href="javascript:" id="cus_log">客户历史余额记录</a></dd>
          </dl>
        </li>
      </ul>

        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">客户管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:" id="add_acc">新增客户</a></dd>
          </dl>
        </li>
      </ul>

        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">中介管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:" id="add_mid">新增中介</a></dd>
            <dd><a href="javascript:" id="mid_info">中介管理</a></dd>
            <dd><a href="javascript:" id="mid_money">中介提成</a></dd>
          </dl>
        </li>
      </ul>

        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">卡管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:" id="card_admin">所有卡信息</a></dd>
          </dl>
        </li>
      </ul>

        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:">卡交易推送</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:" id="push_but">推送信息</a></dd>
          </dl>
        </li>
      </ul>
    </div>
</div>


  <div class="layui-footer">
    <!-- 底部固定区域 -->
      汇率: <span style="color: #BF3EFF;">{{ ex_change }}</span>
      汇率波动溢价: <span style="color: #191970;">{{ ex_range }}</span>
      手续费: <span style="color: #CD3278;">{{ hand }}</span>
      美元充值手续费: <span style="color: #8B7765;"> {{ dollar_hand }} </span>
  </div>
</div>
</div>
<script src="/static/layui/layui.all.js"></script>

<script>
    layui.config({
        version: '1560414887305' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {

        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , $ = layui.$
            , form = layui.form;


        <!-- 此为本月开卡折线图js -->
        $(document).ready(function () {
            var chart = {
                type: 'Combination chart',
            };
            var title = {
                text: '近30天客户开卡统计'
            };
            var subtitle = {
                text: '说明: 每条线代表不同客户!'
            };

            var yAxis = {
                title: {
                    text: '开卡数量:'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                },
                lineWidth: 4,
            };
            var tooltip = {
                crosshairs: true,
                shared: true
            };
            var plotOptions = {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    }
                }
            };

            var series = [];

            $.ajax({
                type : 'GET',
                url : '/admin/line_chart',
                dataType : 'json',
                success : function(data) {
                    // 成功提示框
                    if (data.code == 0){
                        var info = data.data,
                            column = data.column,
                            xax = data.xAx,
                            xaxis = {categories:xax,lineWidth: 4};
                        var c = {name:'合计',data:column, type:'column',pointWidth:10,dataLabels:{enabled:true , style:{color:'#080808',size:50}}};
                        series.push(c);
                        for (var i=0; i<info.length;i++){
                            var name = info[i].name;
                            var data1 = info[i].data;
                            var s = {name:name,data:data1,type:'spline'};
                            series.push(s);
                        }
                        var json = {};
                        json.chart = chart;
                        json.title = title;
                        json.subtitle = subtitle;
                        json.tooltip = tooltip;
                        json.xAxis = xaxis;
                        json.yAxis = yAxis;
                        json.series = series;
                        json.plotOptions = plotOptions;
                        $('#month').highcharts(json);
                    }else if(data.code == 502){
                        parent.layer.msg(data.msg, {
                        icon : 5
                    });
                    }

                },
                error : function(data) {
                    // 异常提示
                    parent.layer.msg('出现网络故障', {
                        icon : 5
                    });
                }
            });
        });


        $(".layui-tab-title li").click(function(){
            var picTabNum = $(this).attr('lay-id');
            sessionStorage.setItem("picTabNum",picTabNum);
            });
            $(function(){
                var getPicTabNum = sessionStorage.getItem("picTabNum");
                $(".layui-tab-title li").eq(Number(getPicTabNum)-1).addClass("layui-this").siblings().removeClass("layui-this");
                $(".layui-tab-content>div>div[id=test_table]>div>table").eq(Number(getPicTabNum)-1).addClass("layui-show").siblings().removeClass("layui-show");
            });

        var getPicTabNum = sessionStorage.getItem("picTabNum");


        element.tabChange('demo', getPicTabNum);


        laydate.render({
            elem: '#s_test6'
            ,range: true
          });

        laydate.render({
            elem: '#test7'
            ,range: true
          });

        laydate.render({
            elem: '#test8'
            ,range: true
          });
        laydate.render({
            elem: '#test9'
            ,range: true
          });
        laydate.render({
            elem: '#test10'
            ,range: true
          });

        table.render({
            elem: '#cus_money_log'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/cus_log' //数据接口
            , title: '客户账户金额表'
            , limit:50
            , limits:[50,100,150,200,250,300,350,400,450,500]
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'log_time', title: '记录时间', align: 'center', sort: true,  totalRowText: '合计：'}
                , {field: 'customer', title: '客户', align: 'center', sort: true,}
                , {field: 'balance', title: '余额', align: 'center', sort: true,}
                , {field: 'out_money', title: '总计支出金额', align: 'center', sort: true,}
                , {field: 'sum_balance', title: '总计充值金额', align: 'center', sort: true,}
            ]]
            , id: 'cus_log'
            , page: true
        });

        //执行一个 table 实例
        table.render({
            elem: '#cus_trans_log'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/account_trans/' //数据接口
            , title: '客户交易记录'
            , limit:50
            , limits:[50,100,150,200,250,300,350,400,450,500]
            , toolbar: "true" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                ,{type: 'checkbox'}
                , {field: 'cus_name', title: '客户', align: 'center', sort: true,  totalRowText: '合计：'}
                , {field: 'date', title: '操作日期', align: 'center', sort: true,}
                , {field: 'trans_type', title: '交易类型', align: 'center', sort: true,style: "color: green"}
                , {field: 'do_type', title: '操作类型', align: 'center', sort: true,}
                , {field: 'num', title: '卡数量', align: 'center', sort: true, totalRow: true}
                , {field: 'card_no', title: '卡号', align: 'center', sort: true}
                , {field: 'do_money', title: '操作金额', align: 'center', totalRow: true, sort: true, style: "color: red"}
                , {field: 'hand_money', title: '手续费', align: 'center', totalRow: true, sort: true}
                , {field: 'before_balance', title: '之前余额', align: 'center', sort: true}
                , {field: 'balance', title: '之后余额', align: 'center', sort: true}
            ]]
            , id: 'cus_trans_log'
            , page: true
        });

        //执行一个 table 实例
        table.render({
            elem: '#account_all'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/account_info' //数据接口
            , title: '客户信息'
            , limit:50
            , limits:[50,100,150,200,250,300,350,400,450,500]
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'name', title: '客户', align: 'center', sort: true,  totalRowText: '合计：'}
                , {field: 'account', title: '账号', align: 'center', sort: true,}
                , {field: 'create_price', title: '开卡费', align: 'center', sort: true,}
                , {field: 'refund', title: '取现手续费', align: 'center', sort: true,}
                , {field: 'min_top', title: '最低充值金额', align: 'center', sort: true,}
                , {field: 'max_top', title: '最高充值金额', align: 'center', sort: true,}
                , {field: 'card_num', title: '开卡数量', align: 'center', sort: true,totalRow:true,style: "color: #000000"}
                , {field: 'free', title: '可平移数量', align: 'center', sort: true,totalRow:true,style: "color: #4B0082"}
                , {field: 'out_money', title: '总消费金额', align: 'center', sort: true, totalRow:true,style: "color: red"}
                , {field: 'balance', title: '账户余额', align: 'center', sort: true, totalRow:true, style: "color: purple"}
                , {field: 'sum_balance', title: '总充值金额', align: 'center', sort: true, totalRow:true}
            ]]
            , id: 'account_info'
            , page: true
        });


        //执行一个 table 实例
        table.render({
            elem: '#top_up'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/top_history' //数据接口
            , title: '客户充值记录'
            , limit:500
            , limits:[500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000]
            , toolbar: "true" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'name', title: '客户', align: 'center', sort: true,  totalRowText: '合计：'}
                , {field: 'pay_num', title: '流水号', align: 'center', sort: true,}
                , {field: 'time', title: '充值时间', align: 'center', sort: true, }
                , {field: 'trans_type', title: '充值类型', align: 'center', sort: true, style:'color: #104E8B'}
                , {field: 'money', title: '充值金额', align: 'center', sort: true, totalRow: true,style:'color: red'}
                , {field: 'before_balance', title: '充值前余额', align: 'center', sort: true, totalRow: true}
                , {field: 'balance', title: '充值后余额', align: 'center', sort: true, totalRow: true}
                , {field: 'sum_balance', title: '总充值金额', align: 'center', sort: true, totalRow: true}
            ]]
            , id: 'top_history'
            , page: true
        });


        table.render({
            elem: '#refund_top'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/top_history?trans_type=退款' //数据接口
            , title: '客户充值记录'
            , limit:500
            , limits:[500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500, 5000]
            , toolbar: "true" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'name', title: '客户', align: 'center', sort: true,  totalRowText: '合计：'}
                , {field: 'pay_num', title: '流水号', align: 'center', sort: true,}
                , {field: 'time', title: '充值时间', align: 'center', sort: true, }
                , {field: 'trans_type', title: '充值类型', align: 'center', sort: true, style:'color: #104E8B'}
                , {field: 'money', title: '充值金额', align: 'center', sort: true, totalRow: true,style:'color: red'}
                , {field: 'before_balance', title: '充值前余额', align: 'center', sort: true, totalRow: true}
                , {field: 'balance', title: '充值后余额', align: 'center', sort: true, totalRow: true}
                , {field: 'sum_balance', title: '总充值金额', align: 'center', sort: true, totalRow: true}
            ]]
            , id: 'top_refund'
            , page: true
        });


        //执行一个 table 实例
        table.render({
            elem: '#middle_money'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/middle_money' //数据接口
            , title: '中介费统计表'
            , limit:50
            , limits:[50,100,150,200,250,300,350,400,450,500]
            , toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'name', title: '中介名称', align: 'center', sort: true,  totalRowText: '合计：'}
                , {field: 'start_time', title: '开始时间(周三)', align: 'center', sort: true,}
                , {field: 'end_time', title: '结束时间(周二)', align: 'center', sort: true, }
                , {field: 'card_num', title: '开卡量', align: 'center', sort: true,totalRow:true}
                , {field: 'create_price', title: '开卡费', align: 'center', sort: true,totalRow:true}
                , {field: 'create_time', title: '系统统计时间', align: 'center', sort: true,}
                , {field: 'sum_money', title: '提成总额', align: 'center', style:"color:red;", sort: true, totalRow:true}
                , {field: 'pay_status', title: '是否支付提成', align: 'center', sort: true}
                , {field: 'pay_time', title: '终端确认时间', align: 'center', sort: true}
            ]]
            , id: 'card_info'
            , page: true
            , done: function (res, curr, count) {
                    for (var i = 0; i < res.data.length; i++) {
                        if (res.data[i].pay_status == '已确认') {
                            $('table tbody tr td a[id=pay]').eq(i).css('display', 'none')
                        }
                    }
                }
        });

        table.on('rowDouble(middle_money)', function(obj){
        var data = obj.data;
            layer.open({
                type: 2
                ,offset: 'auto' //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                ,skin:'layui-layer-demo'
                ,id: 'layerUser'//防止重复弹出
                ,title: '提成总额明细'
                ,area: ['20%','30%']
                ,anim: 3
                ,shadeClose:true
                ,content: '/middle/money_detail?info_id=' + data.id
                ,btn: '关闭全部'
                ,btnAlign: 'c' //按钮居中a
                ,shade:  [0.8, '#393D49'] //弹框背景选项

              });

            //标注选中样式
            obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        });


        //监听右侧导航栏点击事件
        $('#make_vir').on('click',function () {
           element.tabChange('demo', 1);
        });

        $('#make_vir_some').on('click',function () {
           element.tabChange('demo', 2);
        });
        $('#all_vir').on('click',function () {
           element.tabChange('demo', 3);
        });
        $('#top_refund').on('click',function () {
           element.tabChange('demo', 4);
        });
        $('#cus_trans').on('click',function () {
           element.tabChange('demo', 5);
        });
        $('#cus_log').on('click',function () {
           element.tabChange('demo', 6);
        });
        $('#add_acc').on('click',function () {
           element.tabChange('demo', 7);
        });
        $('#add_mid').on('click',function () {
           element.tabChange('demo', 8);
        });
        $('#mid_info').on('click',function () {
           element.tabChange('demo', 9);
        });
        $('#mid_money').on('click',function () {
           element.tabChange('demo', 10);
        });
        $('#card_admin').on('click',function () {
           element.tabChange('demo', 11);
        });
        $('#push_but').on('click',function () {
           element.tabChange('demo', 12);
        });

        //分页
        laypage.render({
            elem: 'pageDemo' //分页容器的id
            , count: 100 //总页数
            , skin: '#1e9fff' //自定义选中色值
            //,skip: true //开启跳页
            , jump: function (obj, first) {
                if (!first) {
                    layer.msg('第' + obj.curr + '页', {offset: 'b'});
                }
            }
        });

         form.on('submit(sea_account)', function(data){
            {#var data_info = {data:JSON.stringify(data.field)};#}
             var $ = layui.jquery;
             var data_info = $('#s_acc_name').val();
             table.reload("account_info", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     customer:data_info,
                   }
               }, '/admin/account_info');
            return false;
         });

         form.on('submit(sea_payed)', function(data){

             var $ = layui.jquery;
             var acc_name = $('#acc_name').val(),
                order_num = $('#order_num').val(),
                time_range = $('#s_test6').val();
             table.reload("top_history", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     acc_name:acc_name,
                     order_num:order_num,
                     time_range:time_range,
                   }
               }, '/admin/top_history');
            return false;
         });

         form.on('submit(sea_pay)', function(data){

             var $ = layui.jquery;
             var acc_name = $('#a_name').val(),
                order_num = $('#o_num').val(),
                time_range = $('#test10').val();
             table.reload("top_refund", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     acc_name:acc_name,
                     order_num:order_num,
                     time_range:time_range,
                   }
               }, '/admin/top_history?trans_type=退款');
            return false;
         });



         form.on('submit(cus_trans)', function(data){
             var cus_name = $("#cus_name").val(),
                 trans_card = $('#trans_card').val(),
                 trans_type = $('#trans_type').val(),
                 make_type = $('#make_type').val(),
                 time_range = $('#test8').val();
             table.reload("cus_trans_log", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     cus_name:cus_name,
                     trans_card: trans_card,
                     time_range:time_range,
                     trans_type:trans_type,
                     make_type:make_type,
                   }
               }, '/admin/account_trans/');
            return false;
         });

         form.on('submit(cus_log_ter)', function(data){
             var $ = layui.jquery;
             var cus_name = $("#cus_name_log").val(),
                 time_range = $('#test9').val();
             table.reload("cus_log", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     cus_name:cus_name,
                     time_range:time_range,
                   }
               }, '/admin/cus_log');
            return false;
         });

         function getDay(day){
           var today = new Date();

           var targetday_milliseconds=today.getTime() + 1000*60*60*24*day;

           today.setTime(targetday_milliseconds);

           var tYear = today.getFullYear();
           var tMonth = today.getMonth();
           var tDate = today.getDate();
           tMonth = doHandleMonth(tMonth + 1);
           tDate = doHandleMonth(tDate);
           return tYear+"-"+tMonth+"-"+tDate;
        }

        function doHandleMonth(month){
           var m = month;
           if(month.toString().length == 1){
              m = "0" + month;
           }
           return m;
        }

        laydate.render({
            elem: '#range_time'
            ,value: getDay(-30) + " - " + getDay(0)
            ,isInitValue: true
            ,min: -30
            ,max: 0
            ,range:true
            ,theme:'#7CCD7C'
            ,calender: true
          });


        //执行一个 table 实例
        table.render({
            elem: '#trans_log'
            , height: 'full-250'
            , cellMinWidth: '80'
            , url: '/admin/push_log/' //数据接口
            , title: '卡交易记录信息'
            , toolbar: true
            , skin: 'line'
            , limit:100
            , limits:[100,200,300,400,500,600,700,800,900,1000]
            {#, toolbar: "r" //开启工具栏，此处显示默认图标，可以自定义模板，详见文档#}
            , totalRow: true //开启合计行
            , cols: [[ //表头
                {type:'numbers'}
                , {field: 'trade_no', title: '交易订单号',width:'11%', align: 'center'}
                , {field: 'card_no', title: '卡号', align: 'center',}
                , {field: 'trans_type', title: '交易类型',align: 'center', style: "color: #CD0000"}
                , {field: 'timestamp', title: '交易时间', align: 'center',}
                , {field: 'local_merchant_name', title: '商户名称',width:'17%', align: 'center', style:"color: #8B0A50"}
                , {field: 'trans_amount', title: '交易金额', width:'5%',align: 'center',style:"color: #8B2323"}
                , {field: 'trans_currency_type', title: '交易币种', width:'5%',align: 'center',}
                , {field: 'settle_amount', title: '结算金额', width:'5%',align: 'center',}
                , {field: 'settle_currency_type', title: '结算币种', width:'5%',align: 'center',}
                , {field: 'trans_status', title: '交易状态', align: 'center',style:"color: #030303"}
                , {field: 'account_name', title: '持有人', align: 'center',}
            ]]
            , id: 'push_log'
            , page: true
        });


        form.on('submit(push_search)', function(data){

             var range_time = $("#range_time").val(),

                card_no = $('#card_no').val(),

                trans_type = $('#trans_type_push').val();

             table.reload("push_log", {
                 page: {
                   curr: 1 //重新从第 1 页开始
                 },where: {
                     range_time: range_time,
                     card_no: card_no,
                     trans_type: trans_type,
                   }
               }, '/admin/push_log/');
            return false;
         });

    })
</script>
</body>
</html>
